.notification {
  font-size: 16px;
  color: black;
  border-color: green;
  border-width: 2px;
  box-shadow: 5px 3px rgba(24, 24, 24, 0.3);
  background-color: rgb(108, 229, 189);
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}